*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Quicksand', sans-serif;
}
.title{
  text-align: left;
  padding: 50px;
  height: 70px;
}

.subheading{
  text-align: center;
  font-size: 24px;
  position: relative;
}

.label{
  text-align: center;
  padding: 15px;
  font-size: 18px;
  position: relative;
}

.icon{
  display: block;
  margin: auto;
  height: 40px;
  margin-top: 20px;
}
/* Header image*/
.header-container{
  width: 100%;
  height: 790px;
  position: relative;
}
.nav-bar{
  width: 100%;
  height: 50px;
  position: relative;
}

.nav-bar li{
  list-style-type: none;
  overflow: hidden;
  float: left;
  padding: 15px;
  text-align: center;
  margin-top: 7px;
  font-size: 18px;
  transition: background-color 0.5s ease;
  border-radius: 10px;
}

.nav-bar li:hover{
  background-color: rgba(211, 211, 211, 0.6);
  cursor: pointer;
  border-radius: 10px;
}

.social-media-bar{
  position: absolute;
  width: 50%;
  height: 100%;
  margin-left: 48%;
}

.logo{
  width: 50px;
  padding: 10px;
  transition: width 0.2s ease;
  float: right;
}

.logo:hover{
  margin-bottom: 0px;
  width: 70px;
}

.header-name{
  margin-left: 25%;
  margin-top: 20%;
  width: 50%;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;

}

.header-name h1{
  font-family: 'Jura', sans-serif;
  text-align: center;
  font-size: 60px;
  color: white;
}

.header-name p{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: white;
  font-size: 18px;
}

.header-image{
  width: 100%;
  height: 100%;
  position: absolute;
}

.read-more{
  font-size: 12px;
  text-align: center;
  color: white;
  position: relative;
  margin-top: 180px;
}

.arrows{
  width: 5%;
}

.arrows:hover{
  cursor: pointer;
  animation: bounce 1s;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

/* About Me*/
.about-me-container{
  width: 100%;
  height: 500px;
  background-color: white;
  color: black;
  position: relative;
}

.about-photo{
  float: left;
  width: 30%;
  height: 400px;
}

.about-photo img{
  border-radius: 50%;
  border: 5px solid black;
  width: 20%;
  position: absolute;
  margin-top: 3%;
  margin-left: 50px;
}

.about-text{
  float: right;
  width: 70%;
  height: 400px;
  text-align: left;
}

.about-text p{
  font-size: 24px;
  padding: 50px;
}
/* Technologies*/
.technology-container{
  width: 100%;
  height: 500px;
  background-color: black;
  color: white;
  position: relative;
}

.text-wrapper{
  width: 100%;
  height: 250px;
  text-align: center;
  padding: 20px;
  border-right: solid white;
  /* TODO: Fix the one random white line */
}
.text-wrapper ul {
    text-align: center;
    list-style-position: inside;
}

.text-wrapper li{
  padding: 10px;
}
.technologies{
  width: 33%;
  height: 400px;
  float: left;
  position: relative;

}

.tools{
  width: 33%;
  height: 400px;
  float: right;
  position: relative;

}

.skills{
  width: 33%;
  height: 400px;
  float: left;
  position: relative;
}

/* Interests*/
.interests-container{
  width: 100%;
  height: 500px;
  background-color: white;
  color: black;
  position: relative;
}
/* Footer*/
.footer-container{
  width: 100%;
  height: 50px;
  background-color: black;
  position: relative;
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 18px;
}
