*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Quicksand', sans-serif;
}

.title{
  text-align: left;
  padding: 3vw;
  height: 70px;
  font-size: 3vw;
  position: relative;
}

.subheading{
  text-align: center;
  font-size: 24px;
  position: relative;
}

.label{
  text-align: center;
  padding: 15px;
  font-size: 18px;
  position: relative;
}

.icon{
  display: block;
  margin: auto;
  height: 40px;
  margin-top: 20px;
}
.quote{
  font-size: 50px;
}
/* Header image*/
.header-container{
  max-width: 100%;
  height: 55vw;
  position: relative;
}
.nav-bar{
  overflow: hidden;
  width: 100%;
  height: 5vw;
  position: relative;
}
.nav-bar li{
  list-style-type: none;
  overflow: hidden;
  float: left;
  padding: 0.7vw;
  text-align: center;
  margin-top: 0.6vw;
  font-size: 1.5vw;
  transition: background-color 0.5s ease;
  border-radius: 10px;
}

.nav-bar li:hover{
  background-color: rgba(211, 211, 211, 0.6);
  cursor: pointer;
  border-radius: 10px;
}

.nav-bar-sticky{
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 250, 250, 0.6);
}

.social-media-bar{
  position: absolute;
  width: 50%;
  height: auto;
  margin-left: 48%;
}

.logo{
  width: 4vw;
  padding: 1vw;
  transition: width 0.2s ease;
  float: right;
}

.logo:hover{
  margin-bottom: 0px;
  width: 5vw;
}

.header-name{
  margin-left: 25%;
  margin-top: 15%;
  width: 50%;
  max-width: 50%;
  height: auto;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}

.header-name h1{
  font-family: 'Jura', sans-serif;
  text-align: center;
  font-size: 5vw;
  color: white;
}

.header-name p{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: white;
  font-size: 1.75vw;
}

.header-image{
  max-width: 100%;
  height: auto;
  overflow: hidden;
  position: absolute;
}
/* TODO: Fix the readmore getting cut off on small devices */
.read-more{
  font-size: 1vw;
  text-align: center;
  color: white;
  display: block;
  position: relative;
  margin-top: 15vw;
}

.arrows{
  width: 3vw;
}

.arrows:hover{
  cursor: pointer;
  animation: bounce 1s;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

/* About Me*/
.about-me-container{
  width: 100%;
  height: 500px;
  background-color: white;
  color: black;
  position: relative;
}

.about-photo{
  float: left;
  width: 30%;
  height: 400px;
}

.about-photo img{
  border-radius: 50%;
  border: 5px solid black;
  width: 20%;
  position: absolute;
  margin-top: 3%;
  margin-left: 50px;
}

.about-text{
  float: right;
  width: 70%;
  height: 400px;
  text-align: left;
}

.about-text p{
  font-size: 24px;
  padding: 50px;
}

/* Technologies*/
.technology-container{
  width: 100%;
  height: 500px;
  background-color: black;
  color: white;
  position: relative;
}

.text-wrapper{
  width: 100%;
  height: 250px;
  text-align: center;
  padding: 20px;
  border-right: solid white;
  /* TODO: Fix the one random white line */
}
.text-wrapper ul {
    text-align: center;
    list-style-position: inside;
}

.text-wrapper li{
  padding: 10px;
}
.technologies{
  width: 33%;
  height: 400px;
  float: left;
  position: relative;

}

.tools{
  width: 33%;
  height: 400px;
  float: right;
  position: relative;

}

.skills{
  width: 33%;
  height: 400px;
  float: left;
  position: relative;
}

/* Interests*/
.interests-container{
  width: 100%;
  height: 500px;
  background-color: white;
  color: black;
  position: relative;
}
/* Footer*/
.footer-container{
  width: 100%;
  height: 50px;
  background-color: black;
  position: relative;
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 18px;
}
